# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


.vs

# dependencies
./node_modules
./.pnp
./.pnp.js

# testing
/coverage

# production
/build

# misc
./.DS_Store
./.env.local
./.env.development.local
./.env.test.local
./.env.production.local

./npm-debug.log*
./yarn-debug.log*
./yarn-error.log*
/./.vs
/./.vscode
/todo-app-test-client/.vscode
/TodoTestAPI/TodoTestAPI/TodoTestAPI/obj
/TodoTestAPI/TodoTestAPI/TodoTest.Application/obj
/TodoTestAPI/TodoTestAPI/TodoTest.DataInfrastructure/obj
/TodoTestAPI/TodoTestAPI/TodoTest.Domain/obj
/TodoTestAPI/TodoTestAPI/TodoTest.Models/obj
/TodoTestAPI/TodoTestAPI/TodoTest.Utilities/obj
/TodoTestAPI/TodoTestAPI/TodoTest.Application/bin/Debug/net6.0
/TodoTestAPI/TodoTestAPI/TodoTest.Domain/bin/Debug/net6.0
/TodoTestAPI/TodoTestAPI/TodoTest.DataInfrastructure/bin/Debug/net6.0
/TodoTestAPI/TodoTestAPI/TodoTest.Models/bin/Debug/net6.0
/TodoTestAPI/TodoTestAPI/TodoTest.Utilities/bin/Debug/net6.0
/TodoTestAPI/TodoTestAPI/TodoTestAPI/bin/Debug/net6.0
